{% extends "base.html" %}
{% block title %}Atividades{% endblock %}
{% block content %}
<h2><i class="fa-solid fa-bolt"></i> Atividades</h2>
<a href="{{ url_for('atividade_add') }}" class="btn btn-success mb-3"><i class="fa-solid fa-plus"></i> Nova Atividade</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Pontuação</th>
            <th>Nº Dias</th>
            <th>Etapa</th>
        </tr>
    </thead>
    <tbody>
    {% for atividade in atividades %}
        <tr>
            <td>{{ atividade.nome }}</td>
            <td>{{ atividade.pontuacao }}</td>
            <td>{{ atividade.numero_dias }}</td>
            <td>{{ atividade.etapa.nome }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
{% endblock %}